body{
  background-color: red;
}
//引用--$
$top_width:500px;
$top_height:200px;
.top{
  border: 1px solid wheat;
  width: $top_width;
  height: $top_height;
  background-color: blue;
  color: white;
  font-family: Arial;
}
.content{
  //继承--@extend
  @extend .top;
  width: $top_width + 322;
  background-color: blueviolet;
}
